boto3
pandas
azure.cli<=2.42.0
kubernetes
azure-core<=2.42.0
python-chi
azure-common
radical.utils

radical.pilot
python-blazarclient
lexicon

azure-identity
azure-mgmt-core
azure-mgmt-storage
azure-mgmt-resource
python-openstackclient
azure-mgmt-containerinstance
